<% @posts.each do |x| %>
<h3><%= x.title%></h3>
<h4><%= x.content%></h4>
<a href = '/delete/<%= x.id%>'>삭제</a>
<a href = '/edit/<%=x.id%>'>수정</a>

<form action='/posts/<%=x.id%>/comments/create' method ='post'>
    <input type='text' name='content'>
    <input type='submit' value ='댓글!'><br>
</form>

<% x.comments.each do |c| %>
<%= c.content %>
<a href='/posts/<%=x.id%>/comments/<%=c.id%>'>댓글삭제</a>
<%end%> <br>
- - - - - - - - - - - - - - - - - - - - - - - - - - - <br>
<a href = '/'>main</a>
<%end%>